@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,500&display=swap');
@import url("navigationBars.css");
@import url("avatar.css");
@import url("badge.css");
@import url("buttons.css");
@import url("card.css");
@import url("modal.css");
@import url("inputs.css");
@import url("typography.css");
@import url("alerts.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Poppins', sans-serif;
}
:root{
    --pri-color:#fc452e;
    --sec-color: #db1d08;
    --green-color: rgb(4, 122, 58);
    --danger-color: rgb(223, 4, 4);
    --link-color: rgb(11, 123, 250);
    --grey-color: grey;
  }
body{
    margin: 1rem;
}
